.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    
    background-color: 
    #ff8800;
    z-index: 10000;
    border: 2px solid 
    #1D385E;
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
    cursor: none;
  }

  html {
    cursor: none;
  }

  

  
  