.imgsize
{
    width: 86px;
}

.menunav
{
    color: black;
    font-weight: 600;
}

.menunav:hover
{
    color: #ff8800;
    font-weight: 600;
}

.menu2
{
    padding-top: 20px;
}



.buttonorange-outline
{
    background-color: transparent;
    background-image: none;
    border-color: #ff8800;
}

.buttonorange-outline:hover
{
    background-color: #ff8800;
    color: white;
}

.slideh1
{
    padding: 62px;
    padding-bottom: 20px;
    margin-top: 109px;
    margin-left: -59px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.slideimg
{
    width: 541px;
    margin-top: 41px;
}

.slidebutton
{
    border-radius: 30px;
    padding: 11px;
    padding-left: 59px;
    padding-right: 59px;
    background-color: #ff8800;
    border-color: #ff8800;
}

.slidebutton:hover
{
    border-radius: 30px;
    padding: 11px;
    padding-left: 59px;
    padding-right: 59px;
    background-color: white;
    border-color: #ff8800;
    color: #ff8800;
}

.slidebutton34 
{
    
    padding: 11px;
    padding-left: 74px;
    /* text-align: center; */
    padding-right: 69px;
    margin-left: 65px;
    background-color: #ff8800;
    border-color: white;
    color: white;
}

.slidebutton34:hover
{
    
    padding: 11px;
    padding-left: 74px;
    /* text-align: center; */
    padding-right: 69px;
    margin-left: 65px;
    background-color: white;
    border-color: #ff8800;
    color: #ff8800;
}

.tryslide
{
    background-color: #ff8800;
    padding: 67px;
}

.trycenter
{
    text-align: center;
}

.imgbanner
{
    width: 515px;
    margin-top: 88px;
}

.imgbanner2
{
    width: 593px;
    margin-top: 149px;
    margin-left: 74px;
}

.imgbanner3
{
    width: 493px;
    margin-top: 156px;
}

.whitep
{
 
    color: #FFF;
    font-weight: 600;
}

.whitep:hover
{

 
    color: #FFF;
    font-weight: 600;
    text-decoration: none;

}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#1d385d; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fff; text-decoration:none;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */


.breadcrumbs
{
    text-align: center;
    font-weight: 800;
    font-size: 52px;
    color: white;
    padding: 35px;
}

.sectionlist
{
    padding: 66px;
    /* text-align: center; */
    margin-left: 324px;
}

.cardsections
{
    background-color: #ff8800;
    padding: 33px;
    color: white;
    font-weight: 700;
 
}

.couldnot
{
    text-align: center;
    padding: 32px;
}



@media (min-width: 576px) { 
    .couldnot
    {
        text-align: center;
        padding: 32px;
    }

}



    .contact-area {
        background: url(../img/bg/contact-bg.png) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        padding: 63px;
    }
    
    @media only screen and (max-width:768px) {
        .contact {
            margin-bottom: 60px;
        }
    }
    
    .contact input {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #232434;
        font-size: 16px;
        height: 60px;
        padding: 10px;
        width: 100%;
        font-family: 'poppins', sans-serif;
        padding-left: 30px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .contact textarea {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #232434;
        font-size: 16px;
        padding: 10px;
        width: 100%;
        font-family: 'poppins', sans-serif;
        padding-left: 30px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .contact input:focus {
        background: #fff;
        border: 1px solid #fff;
        color: #232434;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 none;
    }
    
    .contact textarea:focus {
        background: #fff;
        border: 1px solid #fff;
        color: #232434;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 none;
    }
    
    .form-control::placeholder {
        color: #232434;
        opacity: 1;
    }
    
    .btn-contact-bg {
        border-radius: 30px;
        color: #ff8800;
        outline: medium none !important;
        padding: 15px 27px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: white;
        font-family: 'poppins', sans-serif;
        cursor: pointer;
        width: 26%;
        border: 1px solid #ff8800;
    }
    
    .btn-contact-bg:hover,
    .btn-contact-bg:focus {
        background: #ff8800;
        color: white;
        border: 1px solid white;
    }
    
    /*START ADDRESS*/
    
    .single_address {
        overflow: hidden;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    
    @media only screen and (max-width:768px) {
        .single_address {
            padding-left: 0px;
        }
    }
    
  
    
    .single_address h4 {
        font-size: 18px;
        margin-bottom: 0px;
        overflow: hidden;
        font-weight: 600;
    }
    
    .single_address p {
        overflow: hidden;
        margin-top: 5px;
    }
    
    .section-title h1 {
        font-size: 44px;
        font-weight: 500;
        margin-top: 0;
        position: relative;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .section-title p {
        padding: 0 10px;
        width: 70%;
        margin: auto;
        letter-spacing: 1px;
    }
    .section-title {
        margin-bottom: 60px;
    }
    .text-center {
        text-align: center!important;
    }

    .menu23
    {
        
        padding-top: 2px;
        
    }

    .single_address i
    {
        background: #f6f6f6;
        color: #ff8800
        border-radius: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        float: left;
        margin-right: 14px;
        font-size: 22px;
        -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    
    .single_address:hover i 
    {
        background: #ff8800
        color: #fff;
    }
   

    .borderreceipt
    {
        border: 1px solid #ff8800 !important;
    }

    .bordepad
    {
        margin-top: 17px;
        margin-bottom: 21px;
    }

    .bordepad2
    {
        
        margin-bottom: 21px;
    }

    .thankyoup
    {
        text-align: center;
        font-size: 91px;
        padding: 87px;
        margin-top: 43px;
        font-weight: 800;
        color: #ff8800;
    }

    .thankyoup
    {
        text-align: center;
        font-size: 91px;
        padding: 87px;
        margin-top: 20px;
        font-weight: 800;
        color: #ff8800;
    
    }
    
    .thanks
    {
        text-align: center;
        font-size: 45px;
        margin-top: 0px;
        margin-bottom: 84px;
    }

    .packp
    {
        text-align: center;
        padding: 38px;
        margin-bottom: -24px;
        margin-top: 30px;
        font-size: 23px;
        font-weight: 600;
    }

    .orangep
    {
        color: #ff8800;
        text-decoration: underline;


    }
    
    a
    {
        color: #f80;
        text-decoration: underline;
        font-weight:600;

    }
    
    a:hover
    {
        color: #f80;
        text-decoration: underline;
        font-weight:700;

    }

    








